html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.container {
    display: flex;
    flex-direction: row;
}

.left-item {
    width: 350px;
}

img {
    width: inherit;
    height: auto;
    vertical-align: top;
}

.middle-item {
    align-self: center;
    width: 30px;
    height: 300px;
    background-color: #fff;
    margin: 10px;
}

.right-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    border: 5px solid #fff;

}

h2 {   
    margin: 10px;
    font-size: 2em;
    font-weight: 900;
    color: #c90086;
}

h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0;
}

h4 {
    text-align: center;
    font-size: 1em;
    margin: 2px;
    font-weight: 300;

}

ul {
    margin-top: 30px;
    padding: 5px;
    background: #fff;
    width: 50%;
}

li {
    color: #fff;
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: #0059a1;
}

a:visited {
    color: #0059a1;
}

a:active {
    color: #0059a1;
  }

a:hover {
    background-color: #000;
}

@media only screen and (max-width: 768px) {

    body {
        display: flex;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .left-item {
        width: 330px;
    }
    
    img {
        width: inherit;
        height: auto;
        vertical-align: top;
    }
    
    .middle-item {
        align-self: center;
        width: 260px;
        height: 20px;
        background-color: #fff;
        margin: 15px;
    }
    
    .right-item {
        width: 320px;
        border: 5px solid #fff;
        height: 320px;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        margin-top: 10px;
        font-size: 1.3em;
    }
    
    h4 {
        font-size: 1em;
        margin: 5px;
    }

    ul {
        margin-top: 10px;
        padding: 5px;
        background: #fff;
        width: 50%;
    }
    
    a {
        text-decoration: none;
        font-size: 1.5em;
        color: #0059a1;
    }

    a:hover {
        background-color: #fff;
      }
    
    a:visited {
        color: #0059a1;
    }

    a:active {
        color: #0059a1;
      }
}
